---
# https://pre-commit.com/#installation
default_stages: [pre-commit, pre-push]
default_language_version:
  python: python3
  node: 24.14.0
minimum_pre_commit_version: '3.2.0'
repos:
  - repo: meta
    hooks:
      - id: identity
        name: Run identity
        description: Run the identity check
      - id: check-hooks-apply
        name: Check hooks apply to the repository
        description: Useful when testing new hooks to see if they apply to the repository
  - repo: local
    hooks:
      - id: npm-audit
        name: Run npm-audit
        description: Run npm audit
        entry: npm audit --audit-level=high
        language: system
        pass_filenames: false
